.selected-user-card{
    background-color: #b5dfef;
    border: none;
    max-height: 50px;
}

.selected-user-img{
    max-width: 20%;
    padding-right: 0px;
}

.selected-user-body, .selected-user-container{
    padding-left: 0px;
    color:#2e6a7e;
    font-weight: bold;
    font-size: 18px;
}

img{
    height:70px;
}