<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="row"> 
                <div class="col-1"></div>
                <div class="col-11">
                    <app-search></app-search>
                </div>
            </div>                     
            <div class="row">
                <div class="col-1"></div>
                <div class="col-9">
                    <div class="row container-list-contacts">
                        <div class="col-3 filter-alphabet" >
                            <app-list-alphabet></app-list-alphabet>
                        </div>
                        <div class="col-8">
                            <app-list-contacts></app-list-contacts>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-8" style="margin-top:20px">
            <div class="row">
                <div class="col-11">
                    <div class="row container-list-contacts">
                        <div class="col-8 col-md-7 col-sm-6">
                           <app-selected-user></app-selected-user>
                        </div>
                        <div class="col-3">
                            <app-search></app-search>
                        </div>             
                    </div>  
                </div>          
            </div>
        <br/>        
            <div class="row">
                <div class="col-11">
                    <app-card-connections></app-card-connections>                    
            </div>
        </div>
    </div>
</div>
<br/>