<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="row"> 
                <div class="col-1"></div>
                <div class="col-11">
                    <app-search></app-search>
                </div>
            </div>                     
            <div class="row">
                <div class="col-1"></div>
                <div class="col-9">
                    <div class="row container-list-contacts">
                        <div class="col-3 filter-alphabet" >
                            <app-list-alphabet></app-list-alphabet>
                        </div>
                        <div class="col-8">
                            <app-list-contatcs></app-list-contatcs>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-8" style="margin-top:20px">
            <div class="row">
                <div class="col-11">
                    <div class="row container-list-contacts">
                        <div class="col-8 col-md-7 col-sm-6">
                            aquí va imagen y nombre
                        </div>
                        <div class="col-3">
                            <app-search></app-search>
                        </div>             
                    </div>  
                </div>          
            </div>
        <br/>        
            <div class="row">
                <div class="col-11">
                    <div class="row container-list-contacts">
                        <div style="text-align: center;padding: 30px;">
                            <div class="card-deck">
                                <div class="card">
                                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">bit longer.</p>
                                    </div>
                                </div>  
                                <div class="card">
                                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">bit longer.</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">bit longer.</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">bit longer.</p>
                                    </div>                      
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">bit longer.</p>
                                    </div>
                                </div>                         
                            </div>
                        </div>  
                    </div>  
                </div>                      
            </div>
        </div>
    </div>
</div>
<br/>